* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	background-color: rgba(32,32,32,1);
	font-family: arial;
	padding: 0;
	marhin: 0;
}
.Container {
	color: rgba(240,240,240,1);
	margin: auto;
	width: 1024px;
	height: auto;
}
.Header {
	height: 64px;
	width: 100%;
	font-weight: bold;
	font-size: 32px;
	line-height: 64px;
	display: block;
	background-image: url(../image/logo.png);
	background-repeat: no-repeat;
	padding-left: 96px;
	text-align: left;
	margin: 24px 0 24px 0;
}
.Menu {
	height: 32px;
	width: 100%;
	cursor: default;
	border-bottom: dotted rgba(240, 173, 0, 1) 3px;
}
.Menu .Left {
	text-align: left;
	float: left;
	width: 50%;
}
.Menu .Right {
	text-align: Right;
	float: right;
	width: 50%;
}
.Menu a {
	list-style: none;
	display: inline-block;
	padding: 4px;
	font-weight: bold;
	text-decoration: none;
	color: inherit;	
}
.Menu a:hover {
	color: rgba(240, 173, 0, 1);
}
.Content {
	margin: auto;
	width: 100%;
	height: 1024px;
}
form h3 .Notification.Loading {
	background-image: url(../image/ajax-loader.gif);
	width: 19px;
	height: 19px;
	margin-left: 4px;
	display: inline-block;
	vertical-align: middle;
}
form .Field {
	position: relative;
	margin: 0;
	width: 100%;
	height: auto;
	padding: 8px;
}
form .Field:nth-child(2n) {
	background-color: rgba(64,64,64,1);
}
form .Field:first-child {
	border-radius: 4px 4px 0 0;
}
form .Field:last-child {
	border-radius: 0 0 4px 4px;
}
form .Field:nth-child(2n+1) {
	background-color: rgba(42,42,42,1);
}
form .Field input[type=text], form .Field input[type=password], form .Field input[type=file] {
	border: solid 1px rgba(255, 255, 255, 1);
	border-radius: 4px;
	background-color: rgba(32,32,32,1);
	margin: 0;
	padding: 2px;
	outline: none;
	font-size: 16px;
	color: rgba(224,224,224,1);
	box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
	width: 256px;
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}
form .Field input:focus {
	border-color: rgba(240, 173, 0, 1);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(240, 173, 0, 0.75);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(240, 173, 0, 0.75);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(240, 173, 0, 0.75);
}
form .Field textarea {
	border: solid 2px rgba(150, 100, 0, 1);
	border-radius: 4px;
	background-color: rgba(32,32,32,1);
	margin: 0;
	padding: 0 0 0 2px;
	height: 128px;
	font-size: 14px;
	text-align: left;
	color: rgba(224,224,224,1);
	box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
	width: 100%;
}
form .Field .File {
	position: relative;
	height: 30px;
}
form .Field .File .Browse {
	background-image: -webkit-linear-gradient(bottom,rgba(150, 100, 0, 1),rgba(150,40,40,1));
	background-image: -moz-linear-gradient(bottom,rgba(150, 100, 0, 1),rgba(150,40,40,1));
	background-image: -ms-linear-gradient(bottom,rgba(150, 100, 0, 1),rgba(150,40,40,1));
	background-image: -o-linear-gradient(bottom,rgba(150, 100, 0, 1),rgba(150,40,40,1));
	background-image: linear-gradient(bottom,rgba(150, 100, 0, 1),rgba(150,40,40,1));
	border: solid 2px rgba(150, 100, 0, 1);
	border-radius: 4px;
	margin: 0;
	padding: 4px;
	height: 30px;
	color: rgba(224,224,224,1);
	width: 17%;
	font-size: 16px;
	cursor: pointer;
	position: absolute;
	left: 0;
	top: 0;
}
form .Field .File .Filename {
	border: solid 2px rgba(150, 100, 0, 1);
	border-radius: 4px;
	background-color: rgba(32,32,32,1);
	margin: 0;
	padding: 0 0 0 2px;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	color: rgba(100,100,100,1);
	width: 80%;
	position: absolute;
	right: 0;
	top: 0;
}
form .Field .Result {
	display: inline-block;
	background-repeat: no-repeat;
	padding-left: 30px;
	min-width: 30px;
	line-height: 30px;
	text-align: left;
	margin: 0 0 0 4px;
}
form .Field .Result.Ok {
	background-image: url(../image/ok.png);
}
form .Field .Result.Error {
	background-image: url(../image/error.png);
}
form.UpdateIdentity label {
	width: 140px;
	display: inline-block;
}
form.UpdateProfile label, form.SearchDev label {
	width: 280px;
	display: inline-block;
}
form.UpdateProfile {

}
form.UpdateProfile input[name=seniority], form.SearchDev input[name=seniority] {
	width: 32px;
}
form.UpdateProfile .SeniorityDisplay, form.SearchDev .SeniorityDisplay {
	width: 52px;
	display: inline-block;
}
form.UpdateProfile .SeniorityUi, form.SearchDev .SeniorityUi {
	width: 256px;
	margin-left: 16px;
	display: inline-block;
}
form.UpdateProfile input[name=diploma], form.SearchDev input[name=diploma] {
	width: 32px;
}
form.UpdateProfile .DiplomaDisplay, form.SearchDev .DiplomaDisplay {
	width: 52px;
	display: inline-block;
}
form.UpdateProfile .DiplomaUi, form.SearchDev .DiplomaUi {
	width: 256px;
	margin-left: 16px;
	display: inline-block;
}
form.UpdateIdentity {

}
button, input[type=button], input[type=submit] {
	-moz-box-shadow:inset 0px 1px 8px 0px #fed897;
	-webkit-box-shadow:inset 0px 1px 8px 0px #fed897;
	box-shadow:inset 0px 1px 8px 0px #fed897;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f6b33d), color-stop(1, #d29105) );
	background:-moz-linear-gradient( center top, #f6b33d 5%, #d29105 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6b33d', endColorstr='#d29105');
	background-color:#f6b33d;
	-webkit-border-top-left-radius:4px;
	-moz-border-radius-topleft:4px;
	border-top-left-radius:4px;
	-webkit-border-top-right-radius:4px;
	-moz-border-radius-topright:4px;
	border-top-right-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	-moz-border-radius-bottomright:4px;
	border-bottom-right-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-bottomleft:4px;
	border-bottom-left-radius:4px;
	text-indent:0px;
	border:1px solid #eda933;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:28px;
	line-height:28px;
	width:auto;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 2px 2px #cd8a15;
}
button:hover, input[type=button]:hover, input[type=submit]:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d29105), color-stop(1, #f6b33d) );
	background:-moz-linear-gradient( center top, #d29105 5%, #f6b33d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d29105', endColorstr='#f6b33d');
	background-color:#d29105;
}
button:active, input[type=button]:active, input[type=submit]:active {
	position:relative;
	top:1px;
}
.SearchResult {
	display: none;
	margin-top: 16px;
	border-top: dotted rgba(240, 173, 0, 1) 3px;
}
.SearchResult .ProfileSummary {
	width: 128px;
	height: 128px;
	display: inline-block;
	border: 1px solid #ffffff;
	border-radius: 4px;
}
.Photo {
	display: block;
	max-width: 128px;
	max-height: 128px;
}
.MainNotifier {
	width: 157px;
	height: 96px;
	border-radius: 4px;
	border: solid 4px rgba(228, 182, 62, 1);
	line-height: 90px;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: rgba(64,64,64,1);
	display: none;
	position: fixed;
	bottom: 8px;
	left: 8px;
}
.Profile .Identity .Box {
	display: inline-block;
	padding: 4px;
	vertical-align: top;
}