.SuggestWrapper {
	background-color: rgba(255,0,0,1.0);
	display: inline-block;
	position: relative;
}
.SuggestWrapper .SuggestList {
	display: none;
	position: absolute;
	border-radius: 0 0 4px 4px;
	z-index: 100;
	width: 100%;
	height: 256px;
	background-color: blue;
	overflow-y: scroll;
	border: 1px #ffffff solid;
	border-top: none;
}
.SuggestWrapper .SuggestList:focus {
	display: block;
}
.SuggestWrapper .SuggestList .SuggestElement {
	padding: 2px;
}
.SuggestWrapper .SuggestList .SuggestElement:nth-child(2n) {
	background-color: rgba(255,0,0,1.0);
}
.SuggestWrapper .SuggestList .SuggestElement:nth-child(2n+1) {
	background-color: rgba(0,255,0,1.0);
}
.SuggestWrapper .SuggestList .SuggestElement:hover {
	background-color: rgba(40,40,40,1.0);
}
.SuggestWrapper .SuggestList .SuggestElement.Focused {
	background-color: rgba(140,140,140,1.0);
}
.SuggestSelected .Selected {
	display: inline-block;
	border-radius: 4px;
	background-color: red;
	padding: 2px 26px 2px 2px;
	position: relative;
}
.SuggestSelected .Selected .Close {
	display: inline-block;
	background-image: url(../image/close.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	cursor: pointer;
	width: 22px;
	height: 100%;
	top: 0px;
	right: 0px;
	position: absolute;
}
.SuggestWrapper .SuggestButton {
	position: absolute;
	background-image: url(../image/down.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	cursor: pointer;
	width: 22px;
	height: 100%;
	background-color: #C2BFBF;
	z-index: 100;
	top: 0px;
	right: 0px;
	border-radius: 0 4px 0 0;
	border: 1px solid #979797;
}

.SuggestWrapper.Suggesting .SuggestInput {
	border: solid 1px rgba(153, 153, 153, 1);
	border-radius: 4px 4px 0 0;
}